* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;    
}

body {
    margin: 100px;
}

.field {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #ccc;
}

.excel {
    width: 50px;
    height: 50px;
    padding: 5px;
}

.snakeBody {
    background: url(cat_s\ body.png);
    background-size: cover;
    border-radius: 50%;
}

.head {
    background: url(cat_s\ head.png);
    background-size: cover;
    border-radius: 10%;
}

.mouse {
    background: url(mouse.png);
    background-size: cover;
    border-radius: 10%;
}